<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get Started Django</title>
    
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    {% block body_content %}{% endblock %}
</body>
</html>